/__build__
/__server_build__
/node_modules
/typings
/tsd_typings/
npm-debug.log

/dist/
log/capistrano.log

.idea
.DS_Store
.vscode/

*.ngfactory.ts
*.css.shim.ts
styles.css.ts
webpack.records.json
styles.css
morgan.log
**/critical.css
**/deferred.css
