<!-- build:js /lib/js/all.js -->
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/jquery.dropotron.min.js"></script>
<script src="lib/js/jquery.scrollgress.min.js"></script>
<script src="lib/js/jquery.scrolly.min.js"></script>
<script src="lib/js/jquery.slidertron.min.js"></script>
<script src="lib/js/skel.min.js"></script>
<script src="lib/js/util.js"></script>
<script src="lib/js/main.js"></script>
<script src="/app.js"></script>
<!-- endbuild -->

<script>
if(navigator.userAgent.indexOf("Speed Insights") === -1) {
   /* todotodo GA snippet */
}
</script>

<!--[if lte IE 8]><script src="/lib/js/ie/respond.min.js"></script><![endif]-->