<!-- build:js /lib/js/all.js -->
<script src="/lib/js/jquery.min.js"></script>
<script src="/lib/js/jquery.dropotron.min.js"></script>
<script src="/lib/js/jquery.scrollgress.min.js"></script>
<script src="/lib/js/jquery.scrolly.min.js"></script>
<script src="/lib/js/jquery.slidertron.min.js"></script>
<script src="/lib/js/skel.min.js"></script>
<script src="/lib/js/util.js"></script>
<script src="/lib/js/main.js"></script>
<script src="/app.js"></script>
<script src="/lib/js/firebase-3.6.9.js"></script>
<script src="/lib/js/fancybox.min.js"></script>
<script src="/lib/js/webfont-1.6.26.js"></script>

<!-- endbuild -->

<script>
  if(navigator.userAgent.indexOf("Speed Insights") === -1) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91716405-1', 'auto');
    ga('send', 'pageview');
  }

  var config = {
    apiKey: "AIzaSyA0ZIapgh2fdTDHl19MxHCrYm0nYkIPA8M",
    authDomain: "semo-capston-haiti.firebaseapp.com",
    databaseURL: "https://semo-capston-haiti.firebaseio.com",
    storageBucket: "semo-capston-haiti.appspot.com",
    messagingSenderId: "179910104543"
  };
  firebase.initializeApp(config);

  WebFont.load({
    google: {
      families: ['Lato:300,700']
    },
    custom: {
      families: ['FontAwesome'],
      urls: ['/lib/css/font-awesome.min.css'],
    }
  });
</script>
<!--[if lte IE 8]><script src="/lib/js/ie/respond.min.js"></script><![endif]-->