.display-none {
  display: none;
}

.text-center {
  text-align: center;
}

.alert.warning {
  border: 1px solid red;
  background-color: rgba(144, 144, 144, 0.0745098);
}

.warning {
  color: red;
}

.viewer .reel .slide img {
  height: 100%;
  width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  color: black;
  font: inherit;
}

.header p {
  color: #050404;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  color: #050404;
}

ul {
  color: black;
  font-weight: 450;
}

.wrapper.style1 {
  background: #878484;
}