.display-none {
  display: none;
}

.margin-none {
  margin: 0;
}

.text-center {
  text-align: center;
}

.alert.warning {
  border: 1px solid red;
  background-color: rgba(144, 144, 144, 0.0745098);
}

.warning {
  color: red;
}

.viewer .reel .slide img {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, li, span, blockquote {
  font-size: 1.2em;
  font-weight: 600;
}

header {
  display: block !important;
}

@media screen and (max-width: 600px) {
  .header-brand {
    display: none; 
  }
}

.image.fit2 img {
	display: block;
	width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.wrapper.style1 {
	background: #cccccc;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.account-page .image.fit {
  margin-bottom: 0;
  padding-bottom: 0;
}

.account-page .btn-danger {
  width: 100%;
}

.home-page .slide {
  background-position: center center;
  background-size: cover;
}